* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d3d3d3;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}
/* .App > *{
  margin-block: 20px;
} */

.header {
  margin-block: 20px;
}

.intro {
  background-color: rgba(52, 163, 83, 0.5);
  border-radius: 15px;
  padding: 20px;
  margin-block-end: 20px;
}

.input-and-button {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.input-and-button input {
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 6px;
  padding: 3px 7px;
  outline: none;
  background: ghostwhite;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-and-button button {
  width: 20%;
  height: 40px;
  margin: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 17px;
}

.input-and-button button:hover {
  cursor: pointer;
}

button {
  border: none;
  border-radius: 6px;
  background-color: #4285f4;
  color: #ffff;
  padding: 3px 8px;
  margin: 5px;
}

li {
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin: 8px auto;
}

.plus {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  float: right;
}

.plus:hover {
  cursor: pointer;
}

.plus svg {
  font-size: 25px;
}

.show {
  display: block;
}

@media screen and (max-width: 1000px) {
  .App {
    padding: 0 16px;
  }
  .header {
    font-size: 24px;
  }
}
